a:hover{
	cursor: none;
	background: blue;
	color: white;
}

.cursor{
	position: fixed;
	display: none;
	background: red;
	z-index: 999999;
	width: 5em;
	height: 5em;
}

.cursor[data-icon="A"]{
	background: blue;
}
.cursor[data-icon="B"]{
	background: green;
}
.cursor[data-icon="C"]{
	background: yellow;
}
